/* CSS Normalization */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Site-specific CSS */

body {
    margin: 1em;
    font-family: 'Roboto', sans-serif;
}

header {
    border: 3px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
}

nav {
    border: 1px dashed red;
    margin: 3m;
}

h1, h2, h3, h4, p {
    padding: 0.5em 0em;
}

h1 {
    text-align: center;
    border: 2px dashed blue;
    font-size: 2em;
   
}

h2 {
    font-size: 1.75em;
}

header h2 {
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

p {
    font-size: 1em;
}