/* CSS Normalization */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Site-specific CSS */

body {
    background-color:#FCFCFC;
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: #FCFCFC;
    color: #3D3C3A;
    max-width: 1024px;
    margin: 0 auto 0 auto;
    padding: 2em 0em;
   /* border: 2px solid yellow; */
}

section {
   /* border: 1px dashed red; */
    padding-bottom: 1.5em;
    padding-left: 3em;
    padding-right: 3em;
}

section section {
    /*border: 1px solid red;*/
    padding-left: 0em;
    padding-right: 0em;
}

section section:last-child {
    padding-bottom: 0;
}

section h3 {
    padding-bottom: 0;
}

header {
   /* border: 3px solid black; */
    width: 100%;
    color: #F2F2F2;
    background-color: #223740;
}

footer {
    background-color: grey;
}

nav ul {
    /* border: 1px dashed red; */
    text-align: center;
    padding: 0.25em;
}

nav ul li {
    display: inline-block;
    padding: 0em 1em;
}

li {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 2.5em;
    
}

h1, h2, h3, h4, p {
    
    padding: 0.25em 0em;
    
}



h1 {
    /* border: 2px dashed blue; */
    text-align: center;
    font-size: 2.25em;
    font-weight: 500;
    
}

h2 {
    font-size: 2em;
    font-weight: 500; 
}

header h2 {
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

p {
    padding-bottom: 0.75em;
}

p, li{
    font-size: 1em;
    line-height: 1.5em;
}

#creations li {
    list-style-type: none;
    padding-left: 1em;
}